<div class="backdrop"></div>
<header class="main-header">
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/room' ? 'active' : '' %>" href="/room"
          >Rooms</a
        >
      </li>
    </ul>
    <ul class="main-header__item-list">
      <%if(!isAuthenticated){%>
      <li class="main-header__item">
        <a class="<%= path === '/login' ? 'active' : '' %>" href="/login"
          >Login</a
        >
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup"
          >SignUp</a
        >
      </li>
      <%}else {%>
      <li class="main-header__item">
        <form action="/logout" method="post">
          <%- include('../includes/csrf-input.ejs') %>
          <button
            class="<%= path === '/login' ? 'active' : '' %>"
            type="submit"
          >
            Logout
          </button>
        </form>
      </li>
      <%}%>
    </ul>
  </nav>
</header>

<!-- mobile -->
<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
      <a class="<%= path === '/' ? 'active' : '' %>" href="/">HOME</a>
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/room' ? 'active' : '' %>" href="/room">Rooms</a>
    </li>
  </ul>
  <ul class="mobile-nav__item-list">
    <%if(!isAuthenticated){%>
    <li class="mobile-nav__item">
      <a class="<%= path === '/login' ? 'active' : '' %>" href="/login"
        >Login</a
      >
    </li>
    <li class="mobile-nav__item">
      <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup"
        >SignUp</a
      >
    </li>
    <%}else {%>
    <li class="mobile-nav__item">
      <form action="/logout" method="post">
        <%- include('../includes/csrf-input.ejs') %>
        <button class="<%= path === '/login' ? 'active' : '' %>" type="submit">
          Logout
        </button>
      </form>
    </li>
    <%}%>
  </ul>
</nav>
